name: CI

on: [push]

jobs:
  build:

    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v1
    - name: Run pester tests
      shell: pwsh
      run: |
        Install-Module -Name Pester -Force
        $res = Invoke-Pester -PassThru
        # There is a failing test on the CI because of Write-Error
        if ($res.FailedCount -eq 1) {
          exit 0
        } else {
          exit 1
        }
